/* .select{
 height:30px;
 width:120px;
 border-radius: 5px;
 background-color:#ffffff;
color: #4279cd;
border: 1px solid #4279cd;

}
.select:focus{
 background-color:#4279cd;
 color:white;
 border-color: white;
}
#button{
    display: flex;
   gap:10px;
  padding:10px;
  box-sizing: border-box;
}
#button{
  padding-left: 75px;
  box-sizing: boder-box;
} */
#select-butn-fileter-container-indiv{
  display: flex;
  gap: 20px;
margin-bottom: 10px;

padding-left: 45px;
}

#car-type-filter-in-booking-page{
background-color: rgb(236, 229, 229);
position: absolute;
z-index: 1;
height: auto;
padding: 3px;
margin-left: 20px;
box-shadow: 3px 3px 10px black;
width: 130px;
margin-top: 5px;
margin-bottom: 10px;

}
.checkbox-in-filter-in-cartype{
  width: 20px;
  height:15px;
}
#button-of-the-filete-the-data-in-bookin-page{
  margin-top: 8px;
  border-radius: 10px;
  height: fit-content;
  margin-left:20px ;
background-color: rgb(205, 216, 224);
font-size: large;
font-weight:500;
color: rgb(47, 42, 42);
border: 2px solid rgb(47, 111, 184);
}
#button-of-the-filete-the-data-in-bookin-page:focus{
  color: rgb(253, 254, 254);

  background-color: rgb(106, 96, 187);
}