.Home-page{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-clip:padding-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
}

.slogan-of-the-home-page{
    font-size: 30px;
    margin-top: -20px;
    width: 60%;
    margin-left: -8px;
    color: white;
}

.Register{
   display: flex;
   flex-direction: column;
   padding-top:200px;
   padding-bottom: 100px;
   padding-left: 50px;
}

  
.button-50 {
 height: 40px;
 width: 150px;
 background-color: rgb(37, 31, 3);
 font-size: medium;
 font-weight: bold;
 color: aliceblue;
}
.button-user-admin-login-containecr{
  display: flex;
  gap:10px
}
.button-50:focus {
  text-decoration: none;
}




p{
    font-size: 30px;
    font-weight: 700;
    color: azure;
    font-family: initial;
}

.form-type{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
