.bookings{
    width:90%;
    border:1px solid rgb(223, 217, 217);
    margin-left:80px ;
    border-radius: 8px;
    display: flex;
}
p{
    margin-left: 100px;
    font-size: larger;
    font-weight: bolder;
}
.smallerDiv{
    border: 1px solid rgb(214, 209, 209);
    border-radius: 3px;
    width:30%;
    
}
#btuunt-concle-in-exsist-Booking{
    background-color: red;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}
#btuunt-concle-in-exsist-Booking-edit{
    background-color:green;
    color: aliceblue;
    font-size: large;
    font-weight: bold;

}

#toyota>h5{
 color:rgb(112, 103, 103);
}
#toyota>h6{
    color:rgb(117, 108, 108);
   }
#toyota{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   gap:5px;
}
button{
    background-color: rgb(110, 110, 242);
    border: none;
    border-radius: 15px;
    width:90px;
    height: 40px;
    
}
#dmslamdlmdkemkldm{
height: 100%;
}
.orion-data-of-the-origin-data{
    font-size: large;
    font-weight: bold;
}
#name-of-the-booking-hading-page{
    color: rgb(159, 157, 157);
    margin-left: 10px;
}
#Abcdefghijklmn{
    width: 100%;
    height: 100%;
}
#map-of-the-edit-payment-details{
    position: absolute;
    right: 0px;
}